.fullService-order {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  &__header {
    display: flex;

    &--profile {
      font-size: 3.5rem;
      color: rgb(170, 170, 170);
      margin-right: 0.5rem;
      svg {
        vertical-align: text-top;
      }
    }

    &--texts {
      h4,
      p {
        margin-bottom: 0rem !important;
        font-weight: 500;
      }
      .texts__feedbacks {
        display: flex;
        justify-content: space-between;
        width: 11rem;

        .green {
          color: darkgreen;
        }
        .red {
          color: red;
        }
        .blue {
          color: blue;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    .service-order__body--title {
      line-height: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    &--price {
      background-color: rgb(0, 70, 175);
      color: white;
      padding: 0.6rem 1rem;
      border-radius: 0.5rem;
      align-content: center;
      font-size: 1.1rem;
      font-weight: 700;
      text-align: center;
      align-self: center;
    }
    &--deadLine {
      margin-top: 1rem;
      font-weight: 700;
    }
    &--article {
      font-weight: 500;
      line-height: 1.1rem;
    }
    &--contact {
      display: flex;
      &__left {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
      }
      &__right {
        display: flex;
        flex-direction: column;
        span a {
          color: black;
        }
      }
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 21, 160);
    color: rgb(214, 214, 214);
    padding: 0.7rem 1.2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    .footer-item {
      display: flex;
      align-items: center;
      .footer__icon {
        margin-right: 0.3rem;
      }
    }
  }
}

.suggestions {
  margin-top: 2rem;

  &__header {
    svg {
      color: rgb(175, 175, 175);
      margin-right: 0.3rem;
    }
    span {
      padding: 0.2rem 0.4rem;
      background-color: #4257f2;
      color: white;
      border-radius: 0.3rem;
      font-size: 1rem;
    }
  }
  .container {
    margin-top: 1rem;
    font-weight: 500;
  }
}
