.rules__container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .header__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
  }
  .header__article {
    margin-bottom: 2rem;
  }

  .paragraph__header {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;

    .paragraph__header--number {
      margin-right: 0.3rem;
    }
  }

  .paragraph-1__paragraphs p {
    margin-bottom: 1rem;
  }
}
