.container {
  background: #f9fafb;
  margin-top: 6rem;
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.158);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .ant-input {
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }

  .ant-input-affix-wrapper:hover,
  .ant-input:hover {
    border-color: #1a0feed2;
  }

  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused,
  .ant-input:focus {
    border-color: #1b0ddf;
    box-shadow: 0 0 0 2px #150ab644;
  }

  .ant-btn-primary {
    background-color: #372aee;
    border-color: #3f32f5;
    border-radius: 0.4rem;
    padding: 1rem 2rem 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.521);
  }
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #2e23ce;
    border-color: #2e23ce;
  }
}
