.main {
  width: 100vw;
  background: #e9e7f7;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 3rem;
  }
}
