.form {
  background: white;
  margin-top: 6rem;
  padding: 1rem;
  padding-top: 3rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 14px 1px rgba(0, 0, 0, 0.158);

  .change-buttons {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    display: flex;

    .ant-input:focus,
    .ant-radio-input:focus + .ant-radio-inner {
      border-color: #0011ff;
      box-shadow: 0 0 0 2px rgba(1, 46, 250, 0.2);
    }
    .ant-radio-wrapper:hover .ant-radio,
    .ant-radio:hover .ant-radio-inner,
    .ant-radio-checked .ant-radio-inner,
    .ant-radio-checked::after,
    .ant-input:hover {
      border-color: #0011ff;
    }
    .ant-radio-inner::after {
      background-color: #0011ff;
    }

    .ant-radio-wrapper span {
      font-size: 1rem;
      font-weight: 600;
      color: #545c6a;
    }

    // .ant-radio-wrapper span {
    //   font-size: 1.1rem;
    // }

    // .ant-radio-checked .ant-radio-inner {
    //   box-shadow: 0px 0px 5px 2px #1709ddfb;
    //   border-color: #4c43d4;
    //   background-color: #2113e2ab !important;
    // }

    // .ant-radio-wrapper:hover .ant-radio,
    // .ant-radio:hover .ant-radio-inner,
    // .ant-radio-input:focus .ant-radio-inner {
    //   border-color: #574de4;
    // }

    // .ant-radio-inner::after {
    //   background-color: white;
    // }

    // .radio-btn {
    //   width: 6.5rem;
    //   height: 2.3rem;
    //   padding-bottom: 0.2rem;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   font-size: 1.08rem;
    //   font-weight: 600;
    //   background-color: #0011ff;
    //   color: white;
    //   border-radius: 0.5rem;
    //   transform: scale(1.07);
    //   border: 1px solid rgba(27, 37, 177, 0.74);
    //   letter-spacing: 0.03rem;
    //   margin: 0.2rem;

    //   .ant-radio {
    //     display: none;
    //   }
    // }

    // .selected-btn {
    //   background-color: #0011ff;
    //   transform: scale(1.01);
    //   border: 3px solid rgba(34, 20, 155, 0.616);
    //   font-size: 1rem;
    //   font-weight: 600;
    //   letter-spacing: 0.03rem;
    // }
  }

  .change-buttons-label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #545c6a;
  }

  // .radio-container {
  //   width: 100%;
  //   background: rgb(73, 64, 224);
  //   border-radius: 0.7rem;
  //   padding: 1.5rem;
  //   margin-bottom: 2rem;
  //   box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.562);

  //   .radio {
  //     display: flex;
  //     margin-bottom: 0.5rem;
  //     font-size: 1.1rem;
  //     color: white;
  //   }
  //   .ant-radio:hover .ant-radio-inner {
  //     border-color: #5850eb;
  //   }
  //   .ant-radio-checked .ant-radio-inner {
  //     border-color: #a6a3e6;
  //   }
  //   .ant-radio-checked .ant-radio-inner::after {
  //     background-color: #5850eb;
  //   }

  //   .ant-radio-input:focus + .ant-radio-inner {
  //     box-shadow: 0 0 0 0.5px rgb(48, 7, 231) !important;
  //   }
  // }

  .ant-form-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ant-form-item-label > label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #545c6a;
  }
  .ant-form-item .ant-form-item-label {
    padding: 0;
  }
  .ant-form-item-required::before {
    content: none !important;
  }

  .ant-btn-primary {
    background-color: #1929ff;
    border-color: #0011ff;
    border-radius: 0.4rem;
    width: 100%;
    padding: 1rem;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.06rem;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.521);
  }
  .ant-btn-primary:hover,
  .ant-btn-primary:focus {
    background-color: #0011ff;
    border-color: #0f1fff;
  }

  .ant-input-affix-wrapper:hover,
  .ant-input:hover {
    border-color: #2231ff !important;
  }

  .ant-input-affix-wrapper {
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
    border-color: #d2d6db;
  }

  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused,
  .ant-input:focus {
    border-color: #0011ff;
    box-shadow: 0 0 0 2px #150ab644;
  }

  #normal_login_phone {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 0.5rem 0.8rem;
  }
  .ant-input-group-addon {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0011ff;
    border-color: #2533ff;
  }

  .ant-checkbox-wrapper a {
    color: #0011ff;
  }
  .ant-checkbox-wrapper a:hover {
    color: #2331ff;
    text-decoration: underline;
  }

  .ant-checkbox-inner {
    border-radius: 0.3rem !important;
    border-color: #bfc2c9;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #0011ff;
  }
}
