.produce-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  // margin-top: 1.5rem;

  .produce {
    background: white;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: column;
    align-items: center;

    .produce__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      .produce__title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .produce__image {
        font-size: 4.5rem;
        color: rgb(158, 158, 158);
        margin-bottom: 0.5rem;
      }

      .produce__feedbacks {
        display: flex;
        justify-content: space-around;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
        width: 4rem;

        .green {
          color: darkgreen;
        }
        .red {
          color: red;
        }
        .blue {
          color: blue;
        }

        // span {
        //   margin-right: 0.3rem;
        //   font-size: 1.2rem;
        // }
      }

      .produce__header {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }

      .price {
        display: flex;
        align-items: center;
        color: rgb(17, 76, 202);
        margin-bottom: 1.5rem;

        .price__icon {
          margin-right: 0.3rem;
        }
      }

      .produce__details-btn {
        color: white;
        background: #3343be;
        text-align: center;
        width: 10rem;
        border-radius: 0.4rem;
        padding: 0.3rem 1rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;

        // .produce__details-btn :focus,
        // .produce__details-btn :active {
        //   border: none;
        //   outline: 20px solid blue;
        // }
      }
    }

    .produce__footer {
      background: #3d4ff7a6;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0.5rem 1rem;
      align-items: center;

      .footer__icon {
        color: rgb(39, 57, 223);
        margin-right: 0.5rem;
      }
      .footer__text {
        color: white;
        font-size: 0.8rem;
      }

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  .produce:hover {
    box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.199);
  }
}
