.footer {
  background: #251ca3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-top: auto;

  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__title {
      margin-bottom: 0.8rem;
      font-size: 1.4rem;
      font-weight: bold;
      color: white;
    }

    .footer__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.8rem;
      font-size: 1.1rem;

      .list__item {
        margin-bottom: 0.2rem;
      }
    }

    p {
      font-size: 1.1rem;
    }

    .footer__copyrigth {
      margin-top: 2rem;
    }
  }
}
