.companies-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .services-list-container {
    background: white;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 0.5rem;
    padding: 1.5rem 1rem;

    h1 {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    h2 {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: #444444;
    }

    .companies__list {
      width: 100%;

      li {
        width: 100%;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.5rem;
        font-weight: bold;
        color: #303030;

        span {
          background-color: #f7f7f7;
          color: #838383;
          width: 2.5rem;
          text-align: center;
          border-radius: 0.2rem;
          font-weight: 600;
          font-size: 0.8rem;
        }
      }
    }
  }

  .line {
    width: 90%;
    height: 0.07rem;
    background: #ccccccbd;
    margin: 2rem 0;
  }

  .company {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1.3rem;

    .company__header {
      width: 100%;
      display: flex;
      // justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1.2rem;

      .company__header--left {
        width: 30%;
        padding-right: 1rem;
        border-right: 1px solid #ccccccbd;

        img {
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          border-radius: 50%;
          width: 100%;
        }
      }

      .company__header--right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 1rem;

        .company-title {
          font-size: 1.2rem;
          font-weight: 700;
        }

        .company-service {
          font-size: 1rem;
          font-weight: 600;
        }

        .company-feedbacks-container {
          width: 100%;
          display: flex;
          font-weight: 500;

          .company-feedbacks {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            margin-left: 0.5rem;
            font-weight: bold;

            .green {
              color: darkgreen;
            }
            .red {
              color: red;
            }
            .blue {
              color: blue;
            }
          }
        }

        .company-rating-container {
          display: flex;
          font-weight: 500;

          .company-rating {
            margin-left: 0.5rem;
            color: rgb(11, 36, 255);
          }
        }
      }
    }
  }
  .company:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
