.companies-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .filter-container {
    width: 100%;
  }
  .filter-container .ant-collapse {
    margin-bottom: 1.5rem;
  }
  .horizontal-line {
    margin-bottom: 1.5rem;
  }

  .services-list-container {
    background: white;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.082);
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 0.5rem;
    padding: 1.5rem 1rem;

    h1 {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    h2 {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      color: #444444;
    }

    .companies__list {
      width: 100%;

      li {
        width: 100%;
        margin-bottom: 0.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 0.5rem;
        font-weight: bold;
        color: #303030;
        p {
          margin: 0;
        }
        span {
          background-color: #f7f7f7;
          color: #838383;
          width: 2.5rem;
          text-align: center;
          align-self: center;
          border-radius: 0.2rem;
          font-weight: 600;
          font-size: 0.8rem;
          padding: 0.2rem;
        }
      }
    }
  }

  .line {
    width: 90%;
    height: 0.07rem;
    background: #ccccccbd;
    margin: 2rem 0;
  }
}
